.side_bar {
  border: 1px solid orange;
  width: 30%;
  max-width: 250px;
  height: 100%;

  &__avatar {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &__logo {
      height: 36px;
      width: 36px;
      background-color: #333;
      border-radius: 50%;
      margin-right: 8px;
    }

    &__content {
      &__name {
        font-size: 0.7rem;
        font-weight: 700;
        line-height: 0.9rem;
      }

      &__plan {
        line-height: 1rem;
        font-size: 0.6rem;
      }
    }
  }

  &__item {
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.2rem;
    transition: background-color 0.3s;

    &__icon {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }

    &__title {
      text-transform: capitalize;
      font-size: 0.8rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .active {
    color: #8854c0;
    font-weight: 600;
    position: relative;
  }

  .active::before {
    content: "";
    width: 2px;
    background-color: #8854c0;
    height: 70%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
