* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.btn {
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.1s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.btn-light {
  color: black;
  background-color: rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.btn-primary {
  background-color: #8854c0;
  border-radius: 4px;

  border-bottom: 4px solid #481f74;

  &:hover {
    background-color: #9066be;
  }

  &:active {
    background-color: #9066be;
  }
}

.btn-secondary {
  background-color: #fff;
  border-radius: 4px;
  color: black;
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #efefef;
  }

  &:active {
    background-color: #efefef;
  }
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}
